[ghq]
	root = ~/sarahrepo
[credential]
	# helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = nari-z
	email = "{{ .git_email }}"
[alias]
	pushforce = push --force-with-lease
	resethead = reset --soft HEAD^
